*.sln
bin
obj
Properties
*.csproj
*.suo
/TypeСonversions/TypeСonversions/bin
/TypeСonversions/TypeСonversions/obj
/TypeСonversions/TypeСonversions/Properties
/TypeСonversions/*.suo
/Solution/bin
/Solution/obj
/Solution/Properties
/Solution/*.csproj
/Solution/*.suo
/OOP/bin
/OOP/obj
/OOP/Properties
/OOP/*.csproj
/OOP/*.suo
/IEnumerable_IEnumerator/*.sln
/IEnumerable_IEnumerator/IEnumerable_IEnumerator/bin
/IEnumerable_IEnumerator/IEnumerable_IEnumerator/obj
/IEnumerable_IEnumerator/IEnumerable_IEnumerator/Properties
/IEnumerable_IEnumerator/IEnumerable_IEnumerator/*.csproj
/IEnumerable_IEnumerator/*.suo
/ICloneable/*.sln
/ICloneable/ICloneable/bin
/ICloneable/ICloneable/obj
/ICloneable/ICloneable/Properties
/ICloneable/ICloneable/*.csproj
/ICloneable/*.suo
/BoxingAndUnboxing/*.sln
/BoxingAndUnboxing/BoxingAndUnboxing/bin
/BoxingAndUnboxing/BoxingAndUnboxing/obj
/BoxingAndUnboxing/BoxingAndUnboxing/Properties
/BoxingAndUnboxing/BoxingAndUnboxing/*.csproj
/BoxingAndUnboxing/*.suo
